h2 {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #78808a;
  font-size: 24px;
}
a {
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  color: #78808a;
}
a:active {
  background-color: transparent;
}
a:hover {
  color: #78808a;
}

ul {margin:20px auto;}
li {
    display: inline;
	border:solid 0px #000;
	
	margin:auto;


}

section.student {
  background: url('images/student.jpg') no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

section.admin {
  background: url('images/admin.jpg') no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
section.center {
  background: url('images/center.jpg') no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
section {
  width: 320px;
  height: 320px;
  background-color: white;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin:0 0 5px 0;
}
section:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 170, 163, 0.4);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /*bottom: -225px;*/
  bottom: 318px;
}
section:hover:before {
  bottom: 0;
}
section a {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
section .text {
  z-index: 10;
  width: 100%;
  display: block;
  bottom: 50px;
  position: absolute;
  left: 0;
  text-align: center;
}
section .text img {
  margin-bottom: 20px;
}